env/
venv/
.venv/
instance/
app/static/turnusfiler
# Bytt tunrusfiler med denne hvis du vil ha med .json filer
#app/static/turnusfiler/**/*.pdf
#app/static/turnusfiler/**/*.png
nul
General/
.metadata


*.pyc
__pycache__/
*.swp
*.swo
*~

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
app.log
app/logs
app/utils/sessions

config.ini
.env
dummy.db
*.sql
backups/
tmpclaude-*
.claude/
CLAUDE.md
